langchain
langchain-community
pypdf
faiss-cpu
# faiss-gpu
langchain-ollama
langchain-google-genai
python-dotenv
asgiref
bcrypt
chroma-hnswlib
chromadb
kubernetes
langchainhub
mmh3
monotonic
mpmath
onnxruntime
opentelemetry-api
overrides
pypika
pyproject_hooks
pyreadline3
regex
setuptools
sympy
tiktoken
tokenizers
types-requests
zipp
pytube
youtube-transcript-api
joblib
scikit-learn
scipy
threadpoolctl
emoji
filetype
jsonpath-python
langdetect
nltk
olefile 
orderly-set
python-iso639
python-magic
python-oxmsg
rapidfuzz
requests-toolbelt
tabulate
unstructured
unstructured-client
ragatouille
langgraph 
tavily-python
duckduckgo-search
langchain-google-community
langchain-google-genai
google-ai-generativelanguage
google-generativeai
langchain_cohere